[github]
  user = jeremyjs
[user]
  name = Jeremy Meyer
  email = jeremypatrickmeyer@gmail.com
[alias]
  a = add
  aa = add -A
  co = checkout
  cb = checkout -b
  c = commit -v
  ca = commit -av
  cm = commit -vm
  cam = commit -avm
  amend = commit --amend
  b = branch
  ba = branch -a
  bv = branch -vv
  bva = branch -vva
  bd = branch -d
  p = push
  pt = push --tags
  pl = pull
  s = status
  sh = show
  st = stash
  d = diff
  dc = diff --cached
  cle = config --local --edit
  cge = config --global --edit
  l = log --pretty=oneline --abbrev-commit
  ls = log --stat
  lg = log --pretty=oneline --abbrev-commit --graph
  reset = reset --soft
  rb = rebase -i
  up = remote update --prune
[core]
  editor = vim
  autocrlf = input
  preloadindex = true
[push]
  default = current
[rebase]
  autosquash = true
[color]
  ui = true
[branch "master"]
  remote = origin
  merge = refs/heads/master
[credential]
  helper = osxkeychain
[advice]
  detachedHead = false

